<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo Store Automation Suite">
	<listeners>
		<listener class-name="me.abetayev.qa.listeners.Listeners" />
	</listeners>
	<test name="Portfolio Test Cases">
		<classes>
			<class name="me.abetayev.qa.testsuites.RegisterUiTest" />
			<class name="me.abetayev.qa.testsuites.LoginUiTest" />
			<class name="me.abetayev.qa.testsuites.SearchUiTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->